:root {
  --margin-canvas: 10%;
  --length-target: 15rem;
  --font-size-largest: 5em;
  --font-size-largest: 5em;
}

body {
  background-color: gray;
  padding: 0;
  margin: 0;
}
body.wrong {
  background-color: #908080;
}
.canvas {
  background-color: white;
  position: fixed;
  left: var(--margin-canvas);
  top: var(--margin-canvas);
  width: calc(100% - var(--margin-canvas) * 2);
  height: calc(100% - var(--margin-canvas) * 2);
  box-shadow: 2em 2em 2em;
  cursor: none;
}
.target {
  position: absolute;
  width: var(--length-target);
  height: var(--length-target);
  margin-left: calc(-1 * var(--length-target) / 2);
  margin-top: calc(-1 * var(--length-target) / 2);

  text-align: center;
  line-height: var(--length-target);

  border: 0.2rem solid orange;
  border-radius: var(--length-target);

  font-size: 2em;
  top: 50%;
  left: 50%;

  transition-property: top left;
  transition-duration: 100ms;
}

.check-arrows {
  position: fixed;
  top: 1em;
  right: 1em;
}

.size {
  font-size: var(--font-size-largest);
  text-align: center;
  background-color: white;
  width: 5em;
  margin-left: calc(50% - 2.5em);
  box-shadow: inset 0.1em 0.1em 0.2em;
}

.caution {
  font-size: var(--font-size-largest);
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0.2em;
}
