.blink-helper {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: black;
  color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: $font-size-largest;

  animation: blink 5s linear infinite;
  @keyframes blink {
    0%,
    80%,
    100% {
      opacity: 0;
    }
    85%,
    95% {
      opacity: 1;
    }
  }
}
