.blink-helper {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: black;
  color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: $font-size-largest;

  animation: blink 5s linear infinite;
  @keyframes blink {
    // black: 3
    // animation: 4

    0%,
    // 100-3-4*2
    89%,
    100% {
      opacity: 0;
    }

    // 100-3-4
    93%,
    // 100-4
    96% {
      opacity: 1;
    }
  }
}
