@import 'variables.scss';

.canvas {
  cursor: none;
  flex-grow: 1;
  position: relative;
  background-color: white;

  @import 'target';

  .notification {
    font-size: 3em;
    padding-left: 0.5em;
    padding-top: 0.3em;

    &.hidden {
      display: none;
    }
  }
}
