body {
  padding: 0;
  margin: 0;
  display: flex;
}

.stats {
  display: flex;
  flex-direction: column;
  &.hidden {
    display: none;
  }
  overflow-y: auto;
  flex: 1 2 auto;

  canvas {
    padding: 1em;
  }
}

.board {
  flex: 1 1 auto;
  width: 100%;
  position: relative;
  background-color: gray;
  transition: background-color 1s;
  &.wrong {
    background-color: red;
    transition-duration: 60s;
  }

  .checks {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  .button {
    position: absolute;
    bottom: 1em;
    left: 1em;
  }

  @import 'container';
}
