$life: 10000ms;
$font-size-largest: 5em;

body {
  padding: 0;
  margin: 0;

  background-color: gray;
  &.wrong {
    background-color: #c08080;
  }
}

.container {
  position: fixed;
  $margin-canvas: 3em;
  left: $margin-canvas;
  top: $margin-canvas;
  right: $margin-canvas;
  bottom: $margin-canvas;
  box-shadow: 2em 2em 2em;

  display: flex;
  flex-direction: column;

  > * {
    background-color: white;
  }

  .canvas {
    cursor: none;
    flex-grow: 1;
    position: relative;

    .target {
      position: absolute;
      width: 0;
      height: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      word-break: keep-all;
      transition-property: box-shadow;
      animation: mark $life ease-in;

      .canvas.inverse & {
        background-color: black;
        color: white;
      }

      @keyframes mark {
        0% {
          box-shadow: orange 0 0 0 0;
        }
        100% {
          box-shadow: yellow 0 0 1em 1em;
        }
      }
    }
  }

  .caution {
    font-size: $font-size-largest;
    text-align: center;
  }

  #input {
    font-size: 3em;
    text-align: center;
    padding-bottom: 2rem;

    &,
    &:focus,
    &:focus-visible {
      border: none;
      outline: none;
    }
  }
}

.checks {
  position: fixed;
  top: 1em;
  right: 1em;
}
