$life: 10000ms;
$font-size-largest: 5em;
$shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
0 10px 10px rgba(0, 0, 0, 0.22);

body {
  padding: 0;
  margin: 0;

  background-color: gray;
  transition: 1s background-color;
  &.wrong {
    background-color: #c08080;
  }
}

.container {
  position: fixed;
  $margin-canvas: 3em;
  left: $margin-canvas;
  top: $margin-canvas;
  right: $margin-canvas;
  bottom: $margin-canvas;
  box-shadow: $shadow;

  display: flex;
  flex-direction: column;

  .canvas {
    background-color: white;
    cursor: none;
    flex-grow: 1;
    position: relative;

    .target {
      position: absolute;
      width: 0;
      height: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      word-break: keep-all;

      .text {
        $bar-width: 0.1em;

        width: fit-content;
        height: fit-content;
        background-color: white;
        box-shadow: $shadow;
        position: relative;
        padding-bottom: $bar-width;
        animation: appear 200ms;

        @keyframes appear {
          0% {
            opacity: 0;
            transform: scaleY(0);
          }
          100% {
            opacity: 100%;
            transform: scaleY(100%);
          }
        }

        &:after {
          content: '';
          border-bottom: $bar-width solid transparent;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          animation: time $life linear;
        }

        @keyframes time {
          0% {
            border-color: greenyellow;
            width: 100%;
          }
          100% {
            border-color: red;
            width: 0%;
          }
        }
      }
    }
  }

  #input {
    font-size: 3em;
    text-align: center;
    padding-bottom: 2rem;

    &,
    &:focus,
    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  .health {
    position: relative;
    height: 1em;

    .bar {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      transition: width 1s;
      background-color: black;
    }
  }
}

.checks {
  position: fixed;
  top: 1em;
  right: 1em;
}
